body {
    padding: 0;
    margin:0;
    font-family: "Microsoft YaHei UI Light";
  }
   
  .outer_label {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 220px;
    background-color: #ffffff;
    text-align: center;
    filter: brightness(1.4);
  }
  .inner_label {
    position: absolute;
    left:0;
    right: 0;
    bottom: 0;
    top:50%;
    margin: auto;
    height: 50px;
  }
  .qxs-icon {
    height: 40px;
    width: 90%;
    margin-bottom: 5px;
    padding-left: 10%;
    border: 0;
    border-bottom: solid 1px lavender;
  }